<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>의약품 복용법</title>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<th:block th:replace="include/header-black :: header-black"></th:block>

  <!-- [E]basic-N56 -->
  <main class="th-layout-main ">
    <!-- [S]basic-N50 -->
    <div class="basic-N50" data-bid="EnLWBDAtbi">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">의약품 정보</h2>
            <button class="contents-btn btn-filter" type="button">
              <img src="/icons/ico_filter_black.svg" alt="모바일 필터 아이콘">
            </button>
          </div>
          <div class="contents-body">

            <th:block th:replace="include/medNav :: medNav"></th:block>





            <div class="contents-right">

              <div class="contents-sort">
                <p class="contents-sort-total"></p>
                <div class="contents-sort-sel">
                  <div class="tabset tabset-text">
                    <ul class="tabset-list">
                      <li class="tabset-item">
                        <span>홈 > 의약품 정보 > 의약품 복용법</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


<!--             여기다가 글을 작성하면 됩니다. -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N50 -->
  </main>

<th:block th:replace="include/footer :: footer"></th:block>

  <!-- [E]basic-N55 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>