<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>의약품 상세검색</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/css/plugin.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/medSearch.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
</head>
<body>

<th:block th:replace="include/header-black :: header-black"></th:block>

<!-- [E]basic-N56 -->
<main class="th-layout-main ">
    <!-- [S]basic-N50 -->
    <div class="basic-N50" data-bid="EnLWBDAtbi">
        <div class="contents-inner">
            <div class="contents-container container-md">
                <div class="textset">
                    <h2 class="textset-tit">의약품 정보</h2>
                    <button class="contents-btn btn-filter" type="button">
                    </button>
                </div>
                <div class="contents-body">

                    <th:block th:replace="include/medNav :: medNav"></th:block>

                    <div class="contents-right">

                        <div class="contents-sort">
                            <p class="contents-sort-total"></p>
                            <div class="contents-sort-sel">
                                <div class="tabset tabset-text">
                                    <ul class="tabset-list">
                                        <li class="tabset-item">
                                            <span>홈 > 의약품 정보 > 의약품 복용법</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="basic-N22" data-bid="ehlWDfF3Zv">
                            <div class="contents-inner">
                                <div class="contents-container container-md">
                                    <div class="textset">
                                        <h2 class="textset-tit">의약품 검색</h2>
                                    </div>
                                    <div class="contents-form">
                                        <div class="selectset selectset-round selectset-lg">
                                            <button class="selectset-toggle btn" type="button">
                                                <span id="searchType">제품명</span>
                                            </button>
                                            <ul class="selectset-list">
                                                <li class="selectset-item">
                                                    <button class="selectset-link btn" type="button" data-value="itemName">
                                                        <span>제품명</span>
                                                    </button>
                                                </li>
                                                <li class="selectset-item">
                                                    <button class="selectset-link btn" type="button" data-value="entpName">
                                                        <span>업체명</span>
                                                    </button>
                                                </li>
                                                <li class="selectset-item">
                                                    <button class="selectset-link btn" type="button" data-value="itemSeq">
                                                        <span>품목기준코드</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="inputset inputset-lg">
                                            <button id="fn_btn_search" class="inputset-icon icon-right icon-search btn" type="button" aria-label="아이콘"></button>
                                            <input type="text" class="inputset-input form-control" id="searchInput" placeholder="검색어를 입력해주세요." aria-label="내용">
                                        </div>
                                    </div>


                                    <!--의약품 리스트-->
                                    <div id="board-list" style="overflow-x: auto">
                                        <div class="container">
                                            <table class="board-table">
                                                <thead>
                                                <tr>
                                                    <th scope="col" class="th-num">번호</th>
                                                    <th scope="col" class="th-date">제품명</th>
                                                    <th scope="col" class="th-date">업체명</th>
                                                    <th scope="col" class="th-date">제품기준코드</th>
                                                </tr>
                                                </thead>
                                                <tbody class="medicineTableBody">
                                                <!--  Thymeleaf를 사용하여 리스트 반복 렌더링-->
                                                <tr th:each="dto, iterStat : ${rList}">
                                                    <td class="th-num" th:text="${iterStat.count}"></td>
                                                    <td class="th-date" th:text="${dto.itemName}"></td>
                                                    <td class="th-date" th:text="${dto.entpName}"></td>
                                                    <td class="th-date" th:text="${dto.itemSeq}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>




                                    <nav class="pagiset pagiset-line" >

                                        <div class="pagiset-ctrl">
                                            <a class="pagiset-link pagiset-first" th:href="@{/medicine/medSearch?page=1}">
                                                <span class="visually-hidden">처음</span>
                                            </a>
                                        </div>
                                        <div class="pagiset-ctrl" th:if="${currentPage > 1}">
                                            <a class="pagiset-link pagiset-prev" th:href="@{/medicine/medSearch(page=${currentPage - 1})}">
                                                <span class="visually-hidden">이전</span>
                                            </a>
                                        </div>


                                        <div class="pagiset-list pagination">
                                            <a class="pagiset-link active-fill" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:href="@{/medicine/medSearch(page=${pageNumber})}" th:class="${pageNumber == currentPage ? 'pagiset-link active-fill' : ''}" th:text="${pageNumber}"></a>
                                        </div>


                                        <div class="pagiset-ctrl" th:if="${currentPage < totalPages}">
                                            <a class="pagiset-link pagiset-next" th:href="@{/medicine/medSearch(page=${currentPage + 1})}">
                                                <span class="visually-hidden">다음</span>
                                            </a>
                                        </div>
                                        <div class="pagiset-ctrl">
                                            <a class="pagiset-link pagiset-last" th:href="@{/medicine/medSearch(page=${totalPages})}">
                                                <span class="visually-hidden">마지막</span>
                                            </a>
                                        </div>
                                    </nav>

                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [E]basic-N50 -->
</main>

<th:block th:replace="include/footer :: footer"></th:block>

<!-- [E]basic-N55 -->
<script src="/js/medSearch.js"></script>
<script src="/js/setting.js"></script>
<script src="/js/plugin.js"></script>
<script src="/js/template.js"></script>
<script src="/js/common.js"></script>
<script src="/js/script.js"></script>
</body>