<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer th:fragment="footer">
<footer class="basic-N4" data-bid="HNlWBEGSaq">
    <div class="footer-container container-lg">
        <div class="footer-top">
            <ul class="footer-menulist">
                <li class="footer-menuitem">
                    <a href="/index/index">
                        <img src="/images/img_logo_lightgray.png" alt="로고">
                    </a>
                </li>
            </ul>

        </div>
        <div class="footer-bottom">
            <div class="footer-txt">
                <p> 강서 폴리텍 졸업작품</p>
            </div>
            <div class="footer-txt">
                <p>2024 BY 김새별</p>
            </div>
        </div>
    </div>
</footer>
</footer>
</body>
</html>