<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>문의사항 | 졸작_게시판</title>
  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/common.css">
  <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
  <!-- [S]basic-N3 -->
  <header class="basic-N3" data-bid="XNLWd5py0W">
    <div class="header-inner">
      <div class="header-container container-lg">
        <div class="header-left">
          <h1 class="header-title">
            <a href="javascript:void(0)">
              <img src="../resources/images/img_logo_black.png" alt="로고">
            </a>
          </h1>
          <div class="header-mobile-group">
            <div class="header-mobile-top">
              <p>로그인이 필요합니다.</p>
              <a href="javascript:void(0)">로그인</a>
            </div>
            <ul class="header-gnblist">
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>BRAND</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>PRODUCTS</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>COMMUNITY</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>EVENT</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>MEMBERSHIP</span>
                </a>
              </li>
            </ul>
            <button class="header-btn btn-close">
              <img src="../resources/icons/ico_close_white.svg" alt="닫기 아이콘">
            </button>
          </div>
        </div>
        <div class="header-right">
          <div class="header-utils">
            <button class="header-btn btn-seach">
              <img src="../resources/icons/ico_seach_black.svg" alt="검색 아이콘">
            </button>
            <a href="javascipt:void(0);" class="header-btn btn-user">
              <img src="../resources/icons/ico_user_black.svg" alt="유저 아이콘">
            </a>
            <button class="header-btn btn-cart badgeset badgeset-circle badgeset-position badgeset-bottom-right">
              <img src="../resources/icons/ico_cart_black.svg" alt="쇼핑백 아이콘">
              <span class="badgeset-text">1</span>
            </button>
            <button class="header-btn btn-allmenu">
              <img src="../resources/icons/ico_menu2_black.svg" alt="PC메뉴 아이콘">
            </button>
            <button class="header-btn btn-momenu">
              <img src="../resources/icons/ico_menu2_black.svg" alt="모바일메뉴 아이콘">
            </button>
            <button class="header-btn btn-close">
              <img src="../resources/icons/ico_close_black.svg" alt="닫기 아이콘">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="header-dim"></div>
  </header>
  <!-- [E]basic-N3 -->
  <main class="th-layout-main ">
    <!-- [S]basic-N45 -->
    <div class="basic-N45" data-bid="owLwD5Py73" id="">
    </div>
    <!-- [E]basic-N45 -->
    <!-- [S]basic-N53 -->
    <div class="basic-N53" data-bid="AjlWD5pye9">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="accordset accordset-qna accordset-plus">
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 회원 등급은 어떻게 되나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 가상계좌 입금 시 입금 기한은 언제까지인가요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item active">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 주문 취소를 하고 싶어요. </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 쿠폰은 어떻게 사용하나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 결제 수단은 어떤 것이 있나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 혜택에는 무엇이 있나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 후기는 어디서 작성하나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 회원 가입은 어떻게 하나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 회원 탈퇴는 어떻게 하나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 고객불만 처리는 어떻게 진행되나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
          </div>
          <nav class="pagiset pagiset-line">
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-first" href="javascript:void(0)">
                <span class="visually-hidden">처음</span>
              </a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
                <span class="visually-hidden">이전</span>
              </a>
            </div>
            <div class="pagiset-list">
              <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
              <a class="pagiset-link" href="javascript:void(0)">2</a>
              <a class="pagiset-link" href="javascript:void(0)">3</a>
              <a class="pagiset-link" href="javascript:void(0)">4</a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-next" href="javascript:void(0)">
                <span class="visually-hidden">다음</span>
              </a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-last" href="javascript:void(0)">
                <span class="visually-hidden">마지막</span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- [E]basic-N53 -->
  </main>
  <!-- [S]basic-N4 -->
  <footer class="basic-N4" data-bid="sDLwd5PYIX">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="footer-logo">
          <a href="javascript:void(0)">
            <img src="../resources/images/img_logo_lightgray.png" alt="로고">
          </a>
        </h1>
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>이용약관</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴1</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴2</span>
            </a>
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_youtube_lightgrey.svg" alt="유튜브">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_facebook_lightgrey.svg" alt="페이스북">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <div class="footer-txt">
          <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p>
          <p>
            <span>T. 070-8872-8874</span>
            <span>E. help@openfield.co.kr</span>
          </p>
        </div>
        <div class="footer-txt">
          <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]basic-N4 -->
  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
</body>