<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 화면</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sigup.css}">
    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/css/plugin.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">

    <style>
        body {
            min-height: 100vh;
            background-color: #ffffff;
        }

        .input-form {
            max-width: 680px;
            margin-top: 80px;
            padding: 32px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        }

        .gender-label {
            display: flex;
            align-items: center;
        }

        .custom-control.custom-checkbox {
            display: flex;
            align-items: center;
        }

        .custom-control-label {
            margin-left: 5px; /* 라벨과 체크박스 사이의 간격 조절 */
        }

    </style>
</head>
<script>
    alert("소셜회원가입 필요")
</script>

<body>
<!-- [S]basic-N56 -->
<th:block th:replace="include/header-black :: header-black"></th:block>

<div class="login">
    <div class="login__forms">
        <div class="login__register mx-auto">
            <h4 class="mb-3">회원가입</h4>
            <form id="registration-form" class="validation-form" novalidate>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" name="nick" style="width:60%; border: none;" class="login__input form-control" placeholder="별명" required>
                            <button id="btnNick" type="button" class="check">중복체크</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="login__box">
                            <i class='bx bx-at login__icon'></i>
                            <input type="text" name="email" style="width:60%; border: none;" class="login__input form-control" placeholder="대표 이메일" required>
                            <button id="btnEmail" type="button" class="check">인증번호 전송</button>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="login__box">
                            <i class='bx bx-at login__icon'></i>
                            <input type="text" style="border: none;" class="form-control login__input" name="authNumber" placeholder="이메일 인증번호" required>
                            <br>
                            <div class="invalid-feedback">
                                인증번호를 입력해주세요.
                            </div>
                        </div>
                    </div>
                </div>

                    <hr class="mb-4">

                    <div class="custom-control custom-checkbox agreement-checkbox">
                    <input type="checkbox" class="custom-control-input" id="agreement" required>
                    <label class="custom-control-label" for="agreement">개인정보 수집 및 이용에 동의합니다.</label>
                    <div class="invalid-feedback">
                        동의가 필요합니다.
                    </div>
                </div>
                <div class="mb-4"></div>
                <button class="login__button btn-lg btn-block" type="submit" id="btnSend">회원가입</button>
                <a href="/user/login" class="login__forgot">로그인</a>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {



        $("#btnEmail").on("click", function () {
            useremailAuthNumber();
        });

        $("#btnNick").on("click", function () {
                nickExists();
        });


        $("#registration-form").on("submit", function (event) {
                event.preventDefault();
                doSubmit();
            });
        });

        let emailAuthNumber = "";
        let userNickCheck = "Y";


        function nickExists() {
            const nick = $("input[name='nick']").val();

            if (nick === "") {
                alert("별명을 입력하세요.");
                return;
            }

            $.ajax({
                url: "/user/getNickExists",
                type: "post",
                dataType: "JSON",
                data: {nick: nick},
                success: function (json) {
                    if (json.existsIdYn === "Y") {
                        alert("이미 가입된 별명이 존재합니다.");
                    } else {
                        alert("가입 가능한 별명입니다.");
                        userNickCheck = "N";
                    }
                }
            });
        }

        function useremailAuthNumber() {
            const email = $("input[name='email']").val();

            if (email === "") {
                alert("이메일을 입력하세요.");
                return;
            }

            $.ajax({
                url: "/user/UserEmailAuthNumber",
                type: "post",
                dataType: "JSON",
                data: {email: email},
                success: function (json) {
                    if (json.existsEmailYn === "Y") {
                        alert("이미 가입된 이메일 주소가 존재합니다.");
                    } else {
                        alert("이메일로 인증번호가 발송되었습니다. \n받은 메일의 인증번호를 입력하세요.");
                        emailAuthNumber = json.authNumber;
                    }
                }
            });
        }

        function doSubmit() {
            const form = $("#registration-form")[0];

            if (form.checkValidity() === false) {
                form.classList.add('was-validated');
                return;
            }

            if (userNickCheck !== "N") {
                alert("별명 중복 체크 및 중복되지 않은 별명으로 가입해주세요.");
                return;
            }


            const authNumber = $("input[name='authNumber']").val();
            const email = $("input[name='email']").val(); // 이메일 주소 가져오기

            if (authNumber != emailAuthNumber && emailAuthNumber != "") {
                alert("이메일 인증번호가 일치하지 않습니다.");
                $("input[name='authNumber']").focus();
                return;
            }

            // 이메일 인증이 성공한 경우에만 회원가입 요청을 서버에 보냄
            $.ajax({
                url: "/social/socialRegForm",
                type: "post",
                dataType: "JSON",
                data: $("#registration-form").serialize(),
                success: function (json) {
                  alert(json.msg);
                  location.href = "/index/index";
                }
            });
        }
</script>
</body>
</html>

