
:root {
    --color: #4AD395;
    --color-dark: #23004d;
    --color-light: #a49eac;
    --color-lighten: #f2f2f2;
    --color-hover: #65bf97;
    --font: "Open Sans", sans-serif;
    --big-font-size: 1.5rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
}

@media screen and (min-width: 768px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-size: var(--normal-font-size);
    color: var(--color-dark);
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.login {
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.login__content {
    display: grid;
}

.login__img {
    justify-self: center;
}
.check {
    flex-shrink: 0; /* 버튼이 내용에 맞게 크기 조정되지 않도록 설정 */
    padding: 0 1em; /* 버튼 내부 패딩 조정 */
}

.login__img img {
    width: 310px;
}
.login__register, .login__create {
    position: absolute;
    top: 10%; /* 화면의 중간 또는 원하는 위치로 조정 */
    left: 50%;           /* 요소의 왼쪽 끝을 부모의 중앙으로 이동 */
    transform: translateX(-50%); /* 요소를 자신의 너비의 50%만큼 왼쪽으로 이동 */
    width: 30%;
    background-color: var(--color-lighten);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(35, 0, 77, .2);
    animation-duration: .4s;
    animation-name: animateLogin;
}

.login__title {
    font-size: var(--big-font-size);
    margin-bottom: 2rem;
}

.login__box {
    /*display: grid;*/
    display: flex; /* 플렉스박스 적용 */
    align-items: center; /* 아이콘과 입력란, 버튼을 세로 중앙 정렬 */
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    /*padding: 1.125rem 1rem;*/
    padding: 0.5rem; /* 패딩 줄이기 */
    background-color: #fff;
    margin-top: 1rem;
    border-radius: .5rem;
}

.login__input, .check {
    height: 36px; /* 입력 필드와 버튼의 높이 조정 */
}

.login__icon {
    font-size: 20px; /* 아이콘 크기 조정, 필요에 따라 변경 가능 */
    margin-right: 0.5rem; /* 아이콘과 입력 필드 사이의 간격 */
    color: var(--color);
}

.login__input {
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: 700;
    color: var(--color-dark);
    width: 100%;
    flex-grow: 1; /* 입력 필드가 가능한 많은 공간을 차지하도록 설정 */
    margin-right: 0.5rem; /* 버튼과의 간격 조정 */
}

.login__input::placeholder {
    font-size: var(--normal-font-size);
    font-family: var(--font);
    color: var(--color-light);
}

.login__forgot {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: .5rem;
    font-size: var(--small-font-size);
    font-weight: 600;
    color: var(--color-light);
}
.check {
    display: inline-block; /* 버튼을 인라인 블록으로 설정 */
    padding: 0.5rem; /* 패딩을 0.5rem으로 설정 */
    background-color: transparent; /* 배경색을 투명하게 설정 */
    color: var(--color); /* 색상 설정, 기존의 버튼 색상을 사용 */
    border: none; /* 테두리 제거 */
    border-radius: .5rem; /* 테두리 둥글기 설정 */
    font-size: 14px; /* 폰트 크기 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 설정 */
    transition: .3s; /* 트랜지션 효과 */
}

.check:hover {
    color: #fff; /* 호버 시 글씨 색상 변경 */
    background-color: var(--color-hover); /* 호버 시 배경색 변경 */
}


.login__button {
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--color);
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    transition: .3s;
}

.login__button:hover {
    background-color: var(--color-hover);
}


.login__input, .login__button.check {
    height: 36px; /* 높이 조정 */
    font-size: 14px; /* 필요하다면 글씨 크기 조정 */
}

.login__account, .login__signin, .login__signup {
    font-weight: 600;
    font-size: var(--small-font-size);
}

.login__account--account, .login__signin--signin, .login__signup--signup {
    color: var(--color);
    cursor: pointer;
}

.login__social {
    margin-top: 2rem;
}

.login__social--icon {
    font-size: 1.5rem;
    color: var(--color-dark);
    margin: 0 1rem;
}

.block {
    display: block;
}
.none
