<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CKEditor 5 – Classic editor</title>
<!--    ckeditor-->
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/translations/ko.js"></script><!--    이미지 업로드 어댑터-->
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script></head>
<body>
<h1>Classic editor</h1>
<div id="editor">
    <form action="/board/testBorad" method="POST">
        <input name="title" type="text" placeholder="제목"/><br>
        <textarea name="content" id="content"></textarea><br>
        <input type="submit" value="등록">
    </form>
</div>
<script>

    let myEditor;

    ClassicEditor
        .create(document.querySelector('#content'),
            {language:'ko',

            ckfinder: {
                uploadUrl : 'http://localhost:12000/board/upload',
                withCredentials: true
            }
        })
        .then(editor => {
            myEditor = editor;
            console.log('Editor was initialized');
        })
        .catch(error => {
            console.error(error);
        });
</script>
</body>
</html>
