<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/css/plugin.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/translations/ko.js"></script>

</head>
<body>

<th:block th:replace="include/header-black :: header-black"></th:block>

<div class="basic-N24" data-bid="YtLWDGAodp" style="margin:30px 10px 40px">
    <div class="contents-inner">
        <div class="contents-container container-md">


            <form name="f" id="f">
                <div class="form-group">
                    <div class="textset">
                        <h2 class="textset-tit">글쓰기</h2>
                    </div>
                    <div class="inputset inputset-lg inputset-label">
                        <label>
                            <h6 class="inputset-tit">제목</h6>
                            <input type="text" name="title" class="inputset-input form-control" placeholder="제목을 입력해주세요." aria-label="제목" required>
                        </label>
                    </div>
                    <div class="inputset inputset-lg inputset-label">
                        <label>
                            <h6 class="inputset-tit">내용</h6>
                            <textarea name="content" id="content" class="inputset-input form-control" placeholder="내용을 입력해주세요." aria-label="내용" required style="height: 300px;"></textarea><br>
                            <div class="inputset-langth">
                                <span class="inputset-count">0</span>
                                <span class="inputset-total">/5000</span>
                            </div>
                        </label>
                    </div>
                    <div class="form-btn">
                        <button id="btnSend" type="submit" class="btnset">등록</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>


<script>
    let myEditor; // 전역 변수로 에디터 인스턴스 저장

    ClassicEditor.create(document.querySelector('#content'), {
        language: 'ko'
    }).then(editor => {
        myEditor = editor; // 에디터 인스턴스 저장
        editor.model.document.on('change:data', () => {
            const contentLength = editor.getData().replace(/<[^>]*>/g, '').length; // HTML 태그 제거 후 텍스트 길이 측정
            document.querySelector('.inputset-count').textContent = contentLength;
        });
    }).catch(error => {
        console.error(error);
    });

    $(document).ready(function() {
        $('#f').on('submit', function(e) {
            e.preventDefault(); // 기본 폼 제출 방지

            // 에디터에서 데이터 가져오기
            const editorData = myEditor.getData();

            // 폼 데이터 생성 및 에디터 데이터 추가
            const formData = new FormData(this);
            formData.set('content', editorData); // 'editorId' 대신 'editorData' 사용

            // AJAX 요청
            $.ajax({
                url: '/board/testInsert', // 서버 주소
                type: 'POST', // 요청 방식
                data: formData, // 데이터
                processData: false, // FormData 오브젝트 직렬화 방지
                contentType: false, // 콘텐츠 타입 자동 설정 방지
                success: function(response) {
                    console.log('성공:', response);
                    alert('등록되었습니다!');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('에러 발생:', textStatus, errorThrown);
                    alert('등록에 실패했습니다.');
                }
            });
        });
    });
</script>



<script src="/js/setting.js"></script>
<script src="/js/plugin.js"></script>
<script src="/js/template.js"></script>
<script src="/js/common.js"></script>
<script src="/js/script.js"></script>
</body>
</html>