<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.mapper.ICT_CenterMapper">

<!--    &lt;!&ndash; 센터 리스트 조회 쿼리 &ndash;&gt;-->
<!--    <select id="getCT_CenterList" resultType="CenterDTO">-->
<!--        SELECT-->
<!--            (@row_number:=@row_number + 1) AS seq,-->
<!--            CT_Center.region,-->
<!--            CT_Center.center_name,-->
<!--            CT_Center.address,-->
<!--            CT_Center.phone,-->
<!--            CT_Center.xAddress,-->
<!--            CT_Center.yAddress-->
<!--        FROM-->
<!--            CT_Center,-->
<!--            (SELECT @row_number:=0) AS t-->
<!--        ORDER BY-->
<!--            CT_Center.region, CT_Center.address;-->
<!--    </select>-->


    <!-- 게시글 리스트 조회 -->
    <select id="findAll" parameterType="CenterDTO" resultType="CenterDTO">
        SELECT
            (@row_number:=@row_number + 1) AS seq,
            region,
            center_name,
            address,
            phone,
            X_ADDRESS as xAddress,
            Y_ADDRESS as yAddress
        FROM
            MysqlTest_DB.CT_Center,
            (SELECT @row_number:=0) AS t
        ORDER BY
            region, address
            LIMIT #{offset}, #{recordSize};
    </select>


    <!-- 게시글 수 카운팅 -->
    <select id="count" parameterType="CenterDTO" resultType="int">
        SELECT
            COUNT(*)
        FROM
            tb_post
        WHERE
            delete_yn = 0
    </select>

    <!-- 센터 정보 등록 쿼리 -->
    <insert id="insertCT_CenterInfo" parameterType="CenterDTO">
        INSERT INTO CT_Center
        (
            seq, region, centerName, address, phone, xAddress, yAddress
        )
        VALUES
            (
                    (SELECT COALESCE(MAX(A.seq),0)+1 FROM CT_Center A),
                    #{region}, #{centerName}, #{address}, #{phone}, #{xAddress}, #{yAddress}
            )
    </insert>


    <!-- 센터 정보 수정 쿼리 -->
    <update id="updateCT_CenterInfo" parameterType="CenterDTO">
        UPDATE CT_Center SET
                             region = #{region},
                             centerName = #{centerName},
                             address = #{address},
                             phone = #{phone},
                             xAddress = #{xAddress},
                             yAddress = #{yAddress}
        WHERE
            seq = #{seq}
    </update>

<!--    &lt;!&ndash; 센터 정보 삭제 쿼리 &ndash;&gt;-->
<!--    <delete id="deleteCT_CenterInfo" parameterType="CenterDTO">-->
<!--        DELETE FROM CT_Center-->
<!--        WHERE seq = #{seq}-->
<!--    </delete>-->

    <!-- 센터 테이블의 모든 데이터를 삭제하는 쿼리 -->
    <delete id="deleteAllCT_Center" parameterType="java.lang.Void">
        DELETE FROM CT_Center WHERE 1=1
    </delete>


</mapper>
