<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>카드뉴스</title>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<th:block th:replace="include/header-black :: header-black"></th:block>

  <!-- [E]basic-N56 -->
  <main class="th-layout-main ">

    <!-- [S]basic-N50 -->
    <div class="basic-N50" data-bid="EnLWBDAtbi">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">건강관리 정보</h2>
          </div>
          <div class="contents-body">
            <div class="contents-left">
              <div class="contents-filter-body">
                <div class="accordset accordset-plus">
                  <div class="accordset-item">
                    <a href="/gallery/cardNews" class="accordset-button btn">카드뉴스</a>
                  </div>
                  <div class="accordset-item">
                    <a href="/gallery/healthCare" class="accordset-button btn">건강관리</a>
                  </div>
                  <div class="accordset-item">
                    <a href="/gallery/DP" class="accordset-button btn">질병예방</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="contents-right">
              <div class="contents-sort">
                <p class="contents-sort-total"> 총 <span>1010</span>개의 게시글이 있습니다. </p>
                <div class="contents-sort-sel">
                  <div class="tabset tabset-text">
                    <ul class="tabset-list">
                      <li class="tabset-item">
                          <span>홈 > 건강관리 정보 > 카드뉴스</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="contents-list">
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="/images/img_basic_N42_1.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">작성자</span>
                    <p class="cardset-desc">제목</p>
                    <h2 class="cardset-tit"> 작성일 </h2>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="/images/img_basic_N42_2.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">작성자</span>
                    <p class="cardset-desc">제목</p>
                    <h2 class="cardset-tit"> 작성일 </h2>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="/images/img_basic_N42_3.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">작성자</span>
                    <p class="cardset-desc">제목</p>
                    <h2 class="cardset-tit"> 작성일 </h2>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="/images/img_basic_N42_1.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">작성자</span>
                    <p class="cardset-desc">제목</p>
                    <h2 class="cardset-tit"> 작성일 </h2>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="/images/img_basic_N42_2.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">작성자</span>
                    <p class="cardset-desc">제목</p>
                    <h2 class="cardset-tit"> 작성일 </h2>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="/images/img_basic_N42_3.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">작성자</span>
                    <p class="cardset-desc">제목</p>
                    <h2 class="cardset-tit"> 작성일 </h2>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="/images/img_basic_N42_1.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">작성자</span>
                    <p class="cardset-desc">제목</p>
                    <h2 class="cardset-tit"> 작성일 </h2>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="/images/img_basic_N42_2.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">작성자</span>
                    <p class="cardset-desc">제목</p>
                    <h2 class="cardset-tit"> 작성일 </h2>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="/images/img_basic_N42_3.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">작성자</span>
                    <p class="cardset-desc">제목</p>
                    <h2 class="cardset-tit"> 작성일 </h2>
                  </div>
                </a>
              </div>
              <nav class="pagiset pagiset-line">
                <div class="pagiset-ctrl">
                  <a class="pagiset-link pagiset-first" href="javascript:void(0)">
                    <span class="visually-hidden">처음</span>
                  </a>
                </div>
                <div class="pagiset-ctrl">
                  <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
                    <span class="visually-hidden">이전</span>
                  </a>
                </div>
                <div class="pagiset-list">
                  <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
                  <a class="pagiset-link" href="javascript:void(0)">2</a>
                  <a class="pagiset-link" href="javascript:void(0)">3</a>
                  <a class="pagiset-link" href="javascript:void(0)">4</a>
                </div>
                <div class="pagiset-ctrl">
                  <a class="pagiset-link pagiset-next" href="javascript:void(0)">
                    <span class="visually-hidden">다음</span>
                  </a>
                </div>
                <div class="pagiset-ctrl">
                  <a class="pagiset-link pagiset-last" href="javascript:void(0)">
                    <span class="visually-hidden">마지막</span>
                  </a>
                </div>
              </nav>
              <button class="btnset" type="button" style="float: right;">등록하기</button>
            </div>
          </div>
        </div>
      </div>
      <div class="contents-dim"></div>
    </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N50 -->
  </main>

<th:block th:replace="include/footer :: footer"></th:block>

  <!-- [E]basic-N55 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>