<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>건강게시판 | 졸작_게시판</title>
  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/common.css">
  <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
  <!-- [S]basic-N56 -->
  <div class="basic-N56" data-bid="phlwbDb2my">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title">
          <a href="javascript:void(0)">
            <img src="../resources/images/img_logo_white.png" alt="로고">
          </a>
        </h1>
      </div>
      <div class="header-center">
        <ul class="header-member">
          <li>
            <a href="javascript:void(0)">로그인</a>
          </li>
          <li>
            <a href="javascript:void(0)">회원가입</a>
          </li>
        </ul>
        <ul class="header-gnblist">
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>회사소개</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>인사말</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>비전</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>오시는길</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>사업소개</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>사업01</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>사업02</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>사업03</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>뷰모노 글램핑</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>노르웨이 글램핑</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>이글루 글램핑</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>제품소개</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>제품01</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>제품02</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>제품03</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>제품04</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>홍보센터</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>미디어</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>보도자료</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>고객센터</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>FAQ</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>온라인 문의</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="header-right">
        <div class="header-utils">
          <button class="btn-allmenu header-utils-btn">
            <img src="../resources/icons/ico_menu_white.svg" alt="PC메뉴">
          </button>
          <button class="btn-momenu header-utils-btn">
            <img src="../resources/icons/ico_menu_white.svg" alt="모바일메뉴">
          </button>
          <button class="btn-moclose header-utils-btn">
            <img src="../resources/icons/ico_close_white.svg" alt="닫기">
          </button>
        </div>
      </div>
    </div>
    <div class="header-fullmenu fullmenu-right">
      <div class="fullmenu-wrapper">
        <div class="fullmenu-head">
          <h4 class="fullmenu-title">
            <a href="javascript:void(0)">
              <img src="../resources/images/img_logo_white.png" alt="로고">
            </a>
          </h4>
          <ul class="fullmenu-member">
            <li>
              <a href="javascript:void(0)">로그인</a>
            </li>
            <li>
              <a href="javascript:void(0)">회원가입</a>
            </li>
          </ul>
        </div>
        <ul class="fullmenu-gnblist">
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>회사소개</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>인사말</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>비전</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>오시는길</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>사업소개</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>사업01</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>사업02</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>사업03</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>뷰모노 글램핑</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>노르웨이 글램핑</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>이글루 글램핑</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>제품소개</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>제품01</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>제품02</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>제품03</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>템하 이벤트</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>홍보센터</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>미디어</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>보도자료</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>고객센터</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>FAQ</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>온라인 문의</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="fullmenu-close">
        <img src="../resources/icons/ico_close_white.svg" alt="닫기">
      </button>
    </div>
  </div>
  <!-- [E]basic-N56 -->
  <main class="th-layout-main ">
    <!-- [S]basic-N50 -->
    <div class="basic-N50" data-bid="EnLWBDAtbi">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">전체 상품</h2>
            <button class="contents-btn btn-filter" type="button">
              <img src="../resources/icons/ico_filter_black.svg" alt="모바일 필터 아이콘">
            </button>
          </div>
          <div class="contents-body">
            <div class="contents-left">
              <div class="contents-filter-header">
                <strong>필터</strong>
                <button class="contents-btn btn-close">
                  <img src="../resources/icons/ico_close_black.svg" alt="닫기 아이콘">
                </button>
              </div>
              <div class="contents-filter-body">
                <div class="accordset accordset-plus">
                  <div class="accordset-item">
                    <div class="accordset-header">
                      <button class="accordset-button btn" type="button">브랜드</button>
                    </div>
                    <div class="accordset-body">
                      <div class="accordset-content">
                        <div class="checkset">
                          <input id="checkset-1-1" class="checkset-input input-round" type="checkbox" value="" checked="">
                          <label class="checkset-label" for="checkset-1-1"></label>
                          <span class="checkset-text">전체</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-1-2" class="checkset-input input-round" type="checkbox" value="" checked="">
                          <label class="checkset-label" for="checkset-1-2"></label>
                          <span class="checkset-text">템하피부</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-1-3" class="checkset-input input-round" type="checkbox" value="">
                          <label class="checkset-label" for="checkset-1-3"></label>
                          <span class="checkset-text">템하몰</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordset-item">
                    <div class="accordset-header">
                      <button class="accordset-button btn" type="button">가격</button>
                    </div>
                    <div class="accordset-body">
                      <div class="accordset-content">
                        <div class="radioset">
                          <input id="radioset-2-1" name="radioset-2" class="radioset-input input-line" type="radio" value="">
                          <label class="radioset-label" for="radioset-2-1"></label>
                          <span class="radioset-text">50,000원 미만</span>
                        </div>
                        <div class="radioset">
                          <input id="radioset-2-2" name="radioset-2" class="radioset-input input-line" type="radio" value="">
                          <label class="radioset-label" for="radioset-2-2"></label>
                          <span class="radioset-text">50,000원 ~ 100,000원</span>
                        </div>
                        <div class="radioset">
                          <input id="radioset-2-3" name="radioset-2" class="radioset-input input-line" type="radio" value="">
                          <label class="radioset-label" for="radioset-2-3"></label>
                          <span class="radioset-text">100,000원 이상</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordset-item">
                    <div class="accordset-header">
                      <button class="accordset-button btn" type="button">피부타입</button>
                    </div>
                    <div class="accordset-body">
                      <div class="accordset-content">
                        <div class="checkset">
                          <input id="checkset-3-1" class="checkset-input input-round" type="checkbox" value="" checked="">
                          <label class="checkset-label" for="checkset-3-1"></label>
                          <span class="checkset-text">전체</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-3-2" class="checkset-input input-round" type="checkbox" value="">
                          <label class="checkset-label" for="checkset-3-2"></label>
                          <span class="checkset-text">건성</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-3-3" class="checkset-input input-round" type="checkbox" value="">
                          <label class="checkset-label" for="checkset-3-3"></label>
                          <span class="checkset-text">지성</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-3-4" class="checkset-input input-round" type="checkbox" value="">
                          <label class="checkset-label" for="checkset-3-4"></label>
                          <span class="checkset-text">민감성</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordset-item">
                    <div class="accordset-header">
                      <button class="accordset-button btn" type="button">제품라인</button>
                    </div>
                    <div class="accordset-body">
                      <div class="accordset-content">
                        <div class="checkset">
                          <input id="checkset-4-1" class="checkset-input input-round" type="checkbox" value="" checked="">
                          <label class="checkset-label" for="checkset-4-1"></label>
                          <span class="checkset-text">전체</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-4-2" class="checkset-input input-round" type="checkbox" value="">
                          <label class="checkset-label" for="checkset-4-2"></label>
                          <span class="checkset-text">마스크 시트</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-4-3" class="checkset-input input-round" type="checkbox" value="">
                          <label class="checkset-label" for="checkset-4-3"></label>
                          <span class="checkset-text">크림</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordset-item">
                    <div class="accordset-header">
                      <button class="accordset-button btn" type="button">사용단계</button>
                    </div>
                    <div class="accordset-body">
                      <div class="accordset-content">
                        <div class="checkset">
                          <input id="checkset-5-1" class="checkset-input input-round" type="checkbox" value="" checked="">
                          <label class="checkset-label" for="checkset-5-1"></label>
                          <span class="checkset-text">전체</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-5-2" class="checkset-input input-round" type="checkbox" value="">
                          <label class="checkset-label" for="checkset-5-2"></label>
                          <span class="checkset-text">기초</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-5-3" class="checkset-input input-round" type="checkbox" value="">
                          <label class="checkset-label" for="checkset-5-3"></label>
                          <span class="checkset-text">케어</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordset-item active">
                    <div class="accordset-body">
                      <div class="accordset-content">
                        <div class="checkset">
                          <input id="checkset-6-1" class="checkset-input input-round" type="checkbox" value="" checked="">
                          <label class="checkset-label" for="checkset-6-1"></label>
                          <span class="checkset-text">무료배송</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-6-2" class="checkset-input input-round" type="checkbox" value="">
                          <label class="checkset-label" for="checkset-6-2"></label>
                          <span class="checkset-text">쿠폰</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-6-3" class="checkset-input input-round" type="checkbox" value="">
                          <label class="checkset-label" for="checkset-6-3"></label>
                          <span class="checkset-text">상품할인</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-6-4" class="checkset-input input-round" type="checkbox" value="">
                          <label class="checkset-label" for="checkset-6-4"></label>
                          <span class="checkset-text">포인트 적립</span>
                        </div>
                        <div class="checkset">
                          <input id="checkset-6-5" class="checkset-input input-round" type="checkbox" value="">
                          <label class="checkset-label" for="checkset-6-5"></label>
                          <span class="checkset-text">사은품 증정</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="contents-filter-footer">
                <span>필터초기화</span>
                <button class="contents-btn btn-refresh">
                  <img src="../resources/icons/ico_refresh_black.svg" alt="닫기 아이콘">
                </button>
              </div>
            </div>
            <div class="contents-right">
              <div class="contents-sort">
                <p class="contents-sort-total"> 총 <span>1010</span>개의 제품이 있습니다. </p>
                <div class="contents-sort-sel">
                  <div class="tabset tabset-text">
                    <ul class="tabset-list">
                      <li class="tabset-item">
                        <a class="tabset-link active" href="javascript:void(0)">
                          <span>인기순</span>
                        </a>
                      </li>
                      <li class="tabset-item">
                        <a class="tabset-link" href="javascript:void(0)">
                          <span>리뷰많은순</span>
                        </a>
                      </li>
                      <li class="tabset-item">
                        <a class="tabset-link" href="javascript:void(0)">
                          <span>높은가격순</span>
                        </a>
                      </li>
                      <li class="tabset-item">
                        <a class="tabset-link" href="javascript:void(0)">
                          <span>낮은가격순</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="selectset selectset-round selectset-sm">
                    <button class="selectset-toggle btn" type="button">
                      <span>12개씩 보기</span>
                    </button>
                    <ul class="selectset-list">
                      <li class="selectset-item">
                        <button class="selectset-link btn" type="button" data-value="전체">
                          <span>전체</span>
                        </button>
                      </li>
                      <li class="selectset-item">
                        <button class="selectset-link btn" type="button" data-value="12개씩 보기">
                          <span>12개씩 보기</span>
                        </button>
                      </li>
                      <li class="selectset-item">
                        <button class="selectset-link btn" type="button" data-value="30개씩 보기">
                          <span>30개씩 보기</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="contents-list">
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../resources/images/img_basic_N42_1.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">템하피부</span>
                    <h2 class="cardset-tit"> 민감 피부 마스크 시트(피부진정) </h2>
                    <p class="cardset-desc">32,000<small>원</small>
                    </p>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../resources/images/img_basic_N42_2.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">템하피부</span>
                    <h2 class="cardset-tit"> 시카블라스트 리페어 크림 </h2>
                    <p class="cardset-desc">12,000<small>원</small>
                    </p>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../resources/images/img_basic_N42_3.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">템하피부</span>
                    <h2 class="cardset-tit"> 딥 클린징 포밍 크림 </h2>
                    <p class="cardset-desc">20,000<small>원</small>
                    </p>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../resources/images/img_basic_N42_1.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">템하피부</span>
                    <h2 class="cardset-tit"> 민감 피부 마스크 시트(피부진정) </h2>
                    <p class="cardset-desc">32,000<small>원</small>
                    </p>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../resources/images/img_basic_N42_2.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">템하피부</span>
                    <h2 class="cardset-tit"> 시카블라스트 리페어 크림 </h2>
                    <p class="cardset-desc">12,000<small>원</small>
                    </p>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../resources/images/img_basic_N42_3.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">템하피부</span>
                    <h2 class="cardset-tit"> 딥 클린징 포밍 크림 </h2>
                    <p class="cardset-desc">20,000<small>원</small>
                    </p>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../resources/images/img_basic_N42_1.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">템하피부</span>
                    <h2 class="cardset-tit"> 민감 피부 마스크 시트(피부진정) </h2>
                    <p class="cardset-desc">32,000<small>원</small>
                    </p>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../resources/images/img_basic_N42_2.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">템하피부</span>
                    <h2 class="cardset-tit"> 시카블라스트 리페어 크림 </h2>
                    <p class="cardset-desc">12,000<small>원</small>
                    </p>
                  </div>
                </a>
                <a href="javascript:void(0);" class="cardset cardset-shopping">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../resources/images/img_basic_N42_3.png" alt="카드 이미지">
                  </figure>
                  <div class="cardset-body">
                    <span class="cardset-name">템하피부</span>
                    <h2 class="cardset-tit"> 딥 클린징 포밍 크림 </h2>
                    <p class="cardset-desc">20,000<small>원</small>
                    </p>
                  </div>
                </a>
              </div>
              <nav class="pagiset pagiset-line">
                <div class="pagiset-ctrl">
                  <a class="pagiset-link pagiset-first" href="javascript:void(0)">
                    <span class="visually-hidden">처음</span>
                  </a>
                </div>
                <div class="pagiset-ctrl">
                  <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
                    <span class="visually-hidden">이전</span>
                  </a>
                </div>
                <div class="pagiset-list">
                  <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
                  <a class="pagiset-link" href="javascript:void(0)">2</a>
                  <a class="pagiset-link" href="javascript:void(0)">3</a>
                  <a class="pagiset-link" href="javascript:void(0)">4</a>
                </div>
                <div class="pagiset-ctrl">
                  <a class="pagiset-link pagiset-next" href="javascript:void(0)">
                    <span class="visually-hidden">다음</span>
                  </a>
                </div>
                <div class="pagiset-ctrl">
                  <a class="pagiset-link pagiset-last" href="javascript:void(0)">
                    <span class="visually-hidden">마지막</span>
                  </a>
                </div>
              </nav>
              <button class="btnset" type="button">제출하기</button>
            </div>
          </div>
        </div>
      </div>
      <div class="contents-dim"></div>
    </div>
    <!-- [E]basic-N50 -->
  </main>
  <!-- [S]basic-N55 -->
  <div class="basic-N55" data-bid="OllWbDbIJA" id="">
    <div class="contents-container container-md">
      <div class="tabset tabset-solid border-bottom">
      </div>
    </div>
  </div>
  <!-- [E]basic-N55 -->
  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
</body>