<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>마이페이지 | 졸작_게시판</title>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <main class="th-layout-main th-layout-side">
    <div class="th-layout-content">
      <!-- [S]basic-N37 -->
      <div class="basic-N37" data-bid="PZlwBEVi7e">
        <div class="contents-inner">
          <div class="contents-container container-md">
            <div class="imageset">
              <img class="imageset-img" src="/images/img_basic_N37_1.png" alt="이미지">
            </div>
            <div class="form-group form-line">
              <div class="contents-check">
                <h6 class="form-tit">분야<span>*</span>
                </h6>
                <div class="checkset-wrap">
                  <div class="checkset">
                    <input id="basic-N37-1" class="checkset-input input-fill" type="checkbox" value="" checked="">
                    <label class="checkset-label" for="basic-N37-1"></label>
                    <span class="checkset-text">Project</span>
                  </div>
                  <div class="checkset">
                    <input id="basic-N37-2" class="checkset-input input-fill" type="checkbox" value="">
                    <label class="checkset-label" for="basic-N37-2"></label>
                    <span class="checkset-text">Portfolio</span>
                  </div>
                </div>
              </div>
              <div class="inputset inputset-line inputset-lg inputset-label">
                <label>
                  <h6 class="inputset-tit">이름<span>*</span>
                  </h6>
                  <input type="text" class="inputset-input form-control" placeholder="이름을 입력해주세요." aria-label="내용" required="">
                </label>
              </div>
              <div class="inputset inputset-line inputset-lg inputset-label">
                <label>
                  <h6 class="inputset-tit">E-mail<span>*</span>
                  </h6>
                  <input type="text" class="inputset-input form-control" placeholder="이메일을 입력해주세요." aria-label="내용" required="">
                </label>
              </div>
              <div class="inputset inputset-line inputset-lg inputset-label">
                <label>
                  <h6 class="inputset-tit">전화번호<span>*</span>
                  </h6>
                  <input type="text" class="inputset-input form-control" placeholder="'-'를 빼고 입력해주세요." aria-label="내용" required="">
                </label>
              </div>
              <div class="inputset inputset-line inputset-lg inputset-label">
                <label>
                  <h6 class="inputset-tit">문의 내용<span>*</span>
                  </h6>
                  <textarea class="inputset-textarea form-control" placeholder="문의 내용을 입력해주세요." required=""></textarea>
                </label>
              </div>
              <div class="contents-agree">
                <div class="checkset">
                  <input id="basic-N37-3" class="checkset-input input-fill" type="checkbox" value="" checked="">
                  <label class="checkset-label" for="basic-N37-3"></label>
                  <span class="checkset-text">개인정보처리방침에 동의합니다.</span>
                </div>
                <a href="javascript:void(0);" class="btnset btnset-icon icon-right btnset-text">보기</a>
              </div>
              <div class="form-btn">
                <button class="btnset" type="button">문의하기</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [E]basic-N37 -->
    </div>
  </main>
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>