<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/assets/js/searchUserId.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/css/login.css}">
</head>
<body>
<div class="login">
    <form id="f">
    <div class="login__content">
        <div class="login__img">
        </div>
        <div class="login__forms">
            <!--         login form -->
            <div class="login__register" id="login-in">
                <h1 class="login__title">아이디 찾기</h1>
                <div class="login__box">
                    <i class='bx bx-user login__icon'></i>
                    <input type="text" id="userName" name="userName" placeholder="이름" class="login__input">
                </div>
                <!--                이메일-->
                <div class="login__box">
                    <i class='bx bx-at login__icon'></i>
                    <input type="text"id="email" name="email" style="width:60%" class="login__input" placeholder="이메일"/>
                    <button id="btnemail" type="button" class="check">인증번호</button>
                </div>
                <!--                인증번호-->
                <div class="login__box">
                    <i class='bx bx-at login__icon'></i>
                    <input type="text" id="authNumber" name="authNumber" placeholder="이메일 인증번호" class="login__input">
                </div>
                <a id="btnSearchId" class="login__button">아이디 찾기</a>

                <a href="/user/searchPassword" class="login__forgot">비밀번호 찾기</a>
                <a href="/user/login" class="login__forgot">로그인</a>
            </div>
        </div>
    </div>
    </form>
</div>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
</style>
</html>