<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 화면</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/assets/js/signup.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/css/sigup.css}">

</head>
<body>
<div class="login">
    <form id="f">
        <div class="login__content">
            <div class="login__forms">
                <div class="login__register" id="login-in">
                    <h1 class="login__title">회원가입</h1>
                    <!--                아이디-->
                    <div class="login__box">
                        <i class='bx bx-user login__icon'></i>
                        <input type="text" name="userId" style="width:60%" class="login__input" placeholder="아이디"/>
                        <button id="btnUserId" type="button" class="check">중복체크</button>
                    </div>

                    <!--                이메일-->
                    <div class="login__box">
                        <i class='bx bx-at login__icon'></i>
                        <input type="text" name="email" style="width:60%" class="login__input" placeholder="이메일"/>
                        <button id="btnemail" type="button" class="check">인증번호</button>
                    </div>
                    <!--                인증번호-->
                    <div class="login__box">
                        <i class='bx bx-at login__icon'></i>
                        <input type="text" name="authNumber" placeholder="이메일 인증번호" class="login__input">
                    </div>
                    <!--                비밀번호-->
                    <div class="login__box">
                        <i class='bx bx-lock login__icon'></i>
                        <input type="password" name="pwd" placeholder="비밀번호" class="login__input">
                    </div>

                    <!--                비밀번호 재입력-->
                    <div class="login__box">
                        <i class='bx bx-lock login__icon'></i>
                        <input type="password" name="pwdCheck" placeholder="비밀번호 재입력" class="login__input">
                    </div>

                    <!--                이름-->
                    <div class="login__box">
                        <i class='bx bx-user login__icon'></i>
                        <input type="text" name="name" placeholder="이름" class="login__input">
                    </div>

                    <!--                별명-->
                    <div class="login__box">
                        <i class='bx bx-user login__icon'></i>
                        <input type="text" name="nick" style="width:60%" class="login__input" placeholder="별명"/>
                        <button id="btnnick" type="button" class="check">중복체크</button>
                    </div>
                    <a id="btnSend" class="login__button">회원가입</a>
                    <a href="/user/login" class="login__forgot">로그인</a>
                </div>
            </div>
        </div>
</form>
</div>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
</style>
</html>